assets/*
!assets/.gitignore

protected/runtime/*
!protected/runtime/.gitignore

protected/config/local/*
!protected/config/local/.gitignore


uploads/files/.gitignore



uploads/profile_image/.gitignore


uploads/profile_image/banner/.gitignore

.htaccess
nbproject
.idea/*
.gitmodules
/composer.lock


!themes/HumHub
